*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#email{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 30px;
    outline: none;
}

#password{
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/* login button  */
.btn{
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bolder;
}
/* forgotPassword  */
.forgotPassword{
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    color: blue;
    align-items: right;
    display: flex;
}

.or{
    margin-top: 10px;
    padding: 15px;
}

.google-github{
    display: flex;
    gap: 10px;

}
.google-btn{
    margin-bottom: 10px;
    border-radius: 50%;
    border: none;
}

.google-btn img{
    width: 28px;
}

.github-btn{
    margin-bottom: 10px;
    border-radius: 50%;
    border: none;
}

.github-btn img{
    width: 28px;
}
.register-link{
    margin-top: 5px;
    margin-bottom: 10px;

}
.register-link a{
    text-decoration: none;
    color: blue;

}
@media(max-width:525px){
    #loginForm{
        width: 100%;
    }
}

@media(max-width:330px){
    #email, #password{
        width: 100%;
    }

}